
footer{
    padding-top: pxToVw(133px, 1920px);
    padding-bottom: pxToVw(40px, 1920px);

    background-color: white;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 0 !important;
    margin-bottom: 0 !important;
}

.titleGaeaFooter{
    margin-top: 0;
    margin-bottom: pxToVw(43px, 1920px);

    font-family: "Helvetica";
    font-size: pxToVw(30px, 1920px);
    font-weight: bold;

    border-bottom: solid 4px #989655;

}

.linkedImage{    
    height: pxToVw(80px, 1920px) !important;
    //width: pxToPourcent(89px, 1920px) !important;

    margin-bottom: pxToVw(86px, 1920px);
}

.lifeImage{
    height: pxToVw(335px, 1920px);
    margin-left: pxToPourcent(10px, 1920px);
    margin-right: pxToPourcent(10px, 1920px);
    margin-bottom: pxToVw(20px, 1920px);
}

.bottomBar{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: pxToVw(73px, 1920px);
}

.noteGaea{
    margin-right: pxToPourcent(73px,1920px);
    margin-left: pxToPourcent(73px,1920px);
}

.noteTitle{
    height: pxToVw(24px, 1920px);

    font-family: "Helvetica";
    font-size: pxToVw(20px, 1920px);
    font-weight: bold;

}

.noteText{
    height: pxToVw(24px, 1920px);

    font-family: "Helvetica";
    font-size: pxToVw(20px, 1920px);
    font-weight: 100;

    margin: 0;
    padding: 0;
}