 {% extends 'add_offre/addOffreBase.html.twig' %} 
 {% block title %}Modifier Offre d'Emploi{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('editOffre') }} 
{% endblock %}




{% block body %}

    

	<div id="modification_offre"></div>  

	{% block javascript %}
	{{ encore_entry_script_tags('editOffre') }} 
{% endblock %}


{% endblock %}


