
<h4 class="activity-title">Activités proposées</h4>
<div class="activities-container">

<div class="activity image-1">Concerts</div>
<div class="activity image-2">Garden parties</div>
<div class="activity image-3">Jeux</div>

</div>