  <div class="menu">
            <ul class="liste2">
                <li class="elemMenu2 ">Organigramme</li>
                <li class="elemMenu2">Historique</li>
                <li class="elemMenu2">Partenaires</li>
                <li class="elemMenu2">Impacts</li>
                <li class="elemMenu2">Status gaea21</li>
                <li class="elemMenu2"> <a href="{{path('app_newsletter')}}">Page Newsletter</a> </li>

            </ul>
        </div>