@import '../function';

.img-background {
    background-image: url(../../../public/Image/forgotPassword/gaea-forgot.png);
}

.componentForms {
    padding-top: 15vw;
}

.reset {
    font-size: pxToVw(30px, 1920px);
    font-weight: bold;
    text-align: center;
    margin-bottom: 4vw;
}

.forgot-text {
    text-align: center;
    font-size: pxToVw(20px, 1920px);
    margin-bottom: 2vw;
}

.forgot {
    width: pxToVw(358px, 1920px);
}

.componentForms .sectionformbutton {
    margin-top: 0 !important;
}

.easy-edit-wrapper {
    display: none !important;
}

.welcome {
    position: absolute;
    top: 12vw;
    left: pxToVw(750px, 1920px);
    width: pxToVw(400px, 1920px);
}

#mail {
    position: relative;
    width: 30.4vw !important;
    left: 9vw;
}

::placeholder {
    text-align: center;
}

.return {
    position: relative;
    left: pxToVw(183px, 1920px);
    top: pxToVw(200px, 1920px);
}
