@import '../function';

.topbar{
    top: 0px;
    left: 0px;
    width: pxToPourcent(1920px, 1920px);
    height: pxToVw(120px, 1920px);
    font-size: pxToVw(20px, 1920px) !important;
}
       
.liTopbar{
    font-size: pxToVw(20px, 1920px) !important;
}

.material-icons.black-text.medium{
    display: block !important;

}