#projet{
    // @import './gaea21Life';
    // @import './gaea21Video';
    // @import './gaea21Contact';
    // @import './gaea21Footer'; 
    // @import './gaea21Info';
    // @import './gaea21Menu';
    // @import './video';
 



    html, body{
        height: 100%;
        width: 100%;
    }

    .sectionHead3{
        left: 0px;
        width: pxToPourcent(1920px, 1920px);
        height: pxToVw(768px, 1920px);

        background: transparent url('../../../images/humansGaea21/Groupedemasques27.png') 0% 0% no-repeat padding-box;
        background-size: cover;
        opacity: 1;

        display: flex;
        flex-direction: column;

    }
.p1{
    
    margin-left: pxToPourcent(186px, 1920px);
    margin-top: pxToPourcent(200px, 1920px);
    left: pxToPourcent(183px, 1920px);
    width: pxToPourcent(690px, 1920px);

    font-family: "Arial Black";
    font-size: pxToVw(40px, 1920px);
    color: black;
    font-weight: bold;
}
.p2{

    margin-left: pxToPourcent(183px, 1920px);
    margin-top: pxToPourcent(30px, 1920px);
    margin-right: 0;
    margin-bottom: pxToPourcent(325px, 7603px);
    left: pxToPourcent(183px, 1920px);
    width: pxToPourcent(414px, 1920px);
    height: auto;


    font-family: "Helvetica";
    font-size: pxToVw(25px, 1920px);
    color: black;

}

.p3{
    margin-left: pxToPourcent(400px, 1920px);
    margin-top: pxToPourcent(50px, 1920px);
    margin-right: 0;
    margin-bottom: pxToPourcent(60px, 1920px);
    font-size: pxToPourcent(70px, 1920px);
    left: pxToPourcent(24px, 1920px);
    // width: pxToPourcent(800px, 1920px);
    // height: auto;
    
    font-size: pxToVw(40px, 1920px);
    color: black;
}

.p4{
    margin-left: pxToPourcent(100px, 1920px);
    width: pxToPourcent(1800px, 1920px);
    font-family: "Helvetica";
    font-size: pxToVw(25px, 1920px);
}

    
    .card2{
        margin-left: pxToPourcent(1000px, 1920px);
        width: pxToPourcent(1200px, 1920px);
        padding-top :pxToVw(50px, 1920px);
        padding-bottom :pxToVw(200px, 1920px);

        opacity: 1;
        margin  : 0 auto;
    }
    
    .card3{
        padding-bottom: pxToVw(30px, 1920px);
        // width: pxToPourcent(1500px, 1920px);
        margin: 0 auto;
        opacity: 1;

    }
    

}