{# templates/emails/form/responseUser.html.twig #}
{% extends 'emails/base.html.twig' %}

{% block main %}
	<p>Cher(e) {{(name) ? name : 'utilisateur'}},</p>
	<p>Nous vous remercions d'avoir renseigné le formulaire "{{formName}}". </p>

	<p>Cet e-mail confirme les informations renseignées dans celui-ci</p>

	<table class="formData">
		{% for data in datas %}
			<tr>
				<th>
					{{ data.field.label }}
				</th>

				<td>
					{{ data.answer }}
				</td>
			</tr>
		{% endfor %}
	</table>

	<p>Bonne journée</p>
		
{% endblock %}
