@import '../../function';


#programme{

    @import '../home/gaea21Menu.scss';
    @import '../temoignages/gaea21Footer.scss';
    

    html, body{
        height: 100%;
        width: 100%;
    }
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;

    .sectionHead{
        left: 0px;
        width: pxToPourcent(1920px, 1920px);
        height: pxToVw(768px, 1920px);

        background: transparent url('../../../images/humansGaea21/Groupedemasques27.png') 0% 0% no-repeat padding-box;
        background-size: cover;
        opacity: 1;

        display: flex;
        flex-direction: column;

    }

    .logoHumans{
        /* Layout Properties */

        margin-top: pxToPourcent(400px, 7603px);
        margin-left: pxToPourcent(119px, 1920px);
        width: pxToPourcent(431px, 1920px); 
        height: auto;
        background: transparent;
        opacity: 1;

       
    }

    .p1{

        margin-left: pxToPourcent(183px, 1920px);
        margin-top: 0;
        margin-right: 0;
        margin-bottom: pxToPourcent(325px, 7603px);
        left: pxToPourcent(183px, 1920px);
        width: pxToPourcent(432px, 1920px);
        height: auto;
    

        font-family: "Helvetica";
        font-size: pxToVw(25px, 1920px);
        color: white;
        
    }

    #contenu{
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: pxToVw(46px, 1920px);

        h1{
            margin-top: 0;
            margin-bottom: pxToVw(84px, 1920px);
    
            font-family: "Helvetica";
            font-size: pxToVw(50px,1920px);
            font-weight: bold;
    
            border-bottom: solid 4px #989655;
        }
        
    
        p{
            left:pxToPourcent(201px, 1920px);
    
            margin: 0 0 0 0;

            width: pxToPourcent(1100px, 1920px);
        
            font-family: "Helvetica";
            font-size: pxToVw(24px, 1920px);
            text-align: left;
    
            margin-bottom: pxToVw(47px, 1920px);
        }
    }

    #contact{
        @import '../home/gaea21Contact.scss';
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        margin-top: pxToVw(110px, 1920px);

        .titleGaeaContacte{
            margin-bottom: 0;
        }
        p{
            margin: 0 0 0 0;
            margin-top: pxToVw(30px, 1920px);
            margin-bottom: pxToVw(50px, 1920px);
            font-family: "Helvetica";
            font-size: pxToVw(24px, 1920px);
            text-align: center;       
        }
    }

}