#menuTemoignages{
   
    width: 100%;
    height: pxToVw(50px, 1920px);

    margin-bottom: pxToVw(70px, 1920px);

    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.listBtnMenu{
    width: pxToPourcent(737, 1920px);
    height: pxToVw(43px, 1920px);
    display: flex;
    justify-content: space-around;
}

.btnMenu{
    
    height: 100%;
    width: auto;
    padding-left: pxToPourcent(25px, 1920px);
    padding-right: pxToPourcent(25px, 1920px);

    font-size: pxToVw(25px, 1920px);
    border: 0;
    border-radius: pxToVw(20px, 1920px);
    box-shadow: 0px 3px 6px #00000080;

    background-color: #F8F8F8;

    
}

.btnMenu.clicked, .btnMenu:hover{
    background-color: #98984C;
    color: white;
}
