/* $swidthbase = width only */
/*pour faire le calcul pour transformer les px en %*/
/*pour faire le calcul pour transformer les px en %*/
/*pour faire le calcul pour transformer les px en vw*/
#footer {
  width: 100%;
  box-sizing: border-box;
  padding-left: 0;
  border-top: none;
  padding-top: 4.1666666667vw;
}
#footer a {
  color: black;
  text-decoration: none;
}
#footer ._container {
  width: 80.9375vw;
  margin: 4.1666666667vw 9.53125vw 0;
}
#footer ._container ._display {
  display: flex;
}
#footer ._container ._display ._logo {
  width: 10.8108108108vw;
  margin-right: 3.7966537967vw;
  display: block;
}
#footer ._container ._display ._logo img {
  width: 100%;
}
#footer ._container ._display ._menu {
  margin-bottom: 2.8645833333vw;
  display: flex;
}
#footer ._container ._display ._menu h4 {
  font-size: 0.9375vw;
  font-weight: bold;
  margin: 0;
  padding-bottom: 1.4583333333vw;
}
#footer ._container ._display ._menu h4 a {
  text-decoration: none !important;
}
#footer ._container ._display ._menu h4 a a:not([href]) {
  text-decoration: none !important;
}
#footer ._container ._display ._menu h4 a:hover {
  text-decoration: underline !important;
}
#footer ._container ._display ._menu ul {
  font-size: 0.8333333333vw !important;
  line-height: 0.9375vw !important;
}
#footer ._container ._display ._menu ul li {
  width: 100%;
}
#footer ._container ._display ._menu ul li a {
  display: block;
  width: 10.4247104247vw;
}
#footer ._container ._display ._menu ul li a:hover {
  text-decoration: underline !important;
}
#footer ._container ._display ._menu:last-child {
  margin-right: 0;
}
#footer ._container ._display ._menu .list {
  width: 9.4270833333vw;
  margin-right: 3.8020833333vw;
}
#footer ._container ._display ._menu .list a:not([href]):hover {
  text-decoration: none !important;
  cursor: default;
}
#footer ._container ._display ._menu .list:last-of-type {
  margin-right: 0;
}
#footer ._container ._display ._menu .list li {
  margin-bottom: 0.5208333333vw;
}
#footer ._container ._display ._menu .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer ._container ._display ._menu .contact h4 {
  font-size: 0.9375vw !important;
  font-weight: bold;
  margin: 0;
}
#footer ._container ._display ._menu .contact h4 a {
  text-decoration: none !important;
}
#footer ._container ._display ._menu .contact h4 a:not([href]) {
  text-decoration: none !important;
}
#footer ._container ._display ._menu .contact h4 a:not([href]):hover {
  text-decoration: none !important;
}
#footer ._container ._display ._menu .contact h4 a:hover {
  text-decoration: underline !important;
}
#footer ._container ._partages {
  font-size: 1.0416666667vw !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid #98984B;
  padding-bottom: 0.78125vw;
}
#footer ._container ._partages .plan {
  text-decoration: underline;
}
#footer ._container ._partages .reseau {
  width: 27.4774774775%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#footer ._container ._partages .reseau p {
  width: 53.2687651332%;
}
#footer ._container ._partages .reseau .links {
  width: 51.7635933806%;
  display: flex;
  gap: 0.6770833333vw;
  align-items: center;
  position: relative;
}
#footer ._container ._partages .reseau .link {
  width: 100%;
}
#footer ._container .copyright {
  font-size: 1.0416666667vw !important;
  text-align: end;
  margin-top: 1.953125vw;
  margin-bottom: 1.0416666667vw;
}
#footer ._container .cgu {
  font-size: 1.0416666667vw !important;
}
#footer ._container .cgu ._items {
  background: #F5F5EE;
  display: flex;
  justify-content: center;
  padding: 2.4479166667vw 0;
}
#footer ._container .cgu ._items .item {
  margin-right: 4.3229166667vw;
  text-decoration: underline;
}

/*# sourceMappingURL=gaeaFooters.css.map */
